<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.myitem.mapper.AdvertiseMapper">
    <!--   首页随机一条数据 -->
    <select id="getAdvertise" resultType="Advertise">
        SELECT *
        FROM advertise AS u
                 INNER JOIN (SELECT id
                             FROM advertise
                             ORDER By RAND() LIMIT 1) AS t ON t.id = u.id
    </select>
    <!--  后台获取所有信息  -->
    <select id="getAllIAdvertise" resultType="Advertise">
        select  * from advertise
    </select>
    <!--   尽量130,120个字 -->
    <insert id="addAdvertise" parameterType="String">
        insert into advertise(text) values(#{text})
    </insert>
<!--    根据id删除-->
    <delete id="deAdvertiseById" parameterType="Integer">
        delete  from advertise where id=#{id}
    </delete>
</mapper>