<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.myitem.mapper.CustomerMapper">
    <!--    根据博客id拿到对饮的评论信息-->
    <select id="getCommentByBid" resultType="Customer" parameterType="Integer">
        select *
        from customer
        where comBid = #{bid}
        order by comTime
    </select>
    <insert id="addComment" parameterType="Customer">
        insert into customer
        values (#{comBid}, #{cusName}, #{email}, #{comValue}, #{comTime})
    </insert>
</mapper>